*{
    font-family: 'confortaa',cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: #0DCAF0;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

}
.wrapper .img{
    margin: 30px;
    width: 30%;
}
.wrapper.img img{
    width:100%
    height:100%
    object-fit:cover;
    }
    .info h2,p{
        padding: 15px 10px;
    }
    .qty input{
        padding: 5px;
        width: 100px;
        outline: none;
        font-size: 20px;
    }
    .buy button{
        height: 45px;
        background: #222;
        width:40%
    
    }
